.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 10px 0px;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}

.input {
    width: 500px;
    height: 35px;
    border-radius: 20px;

    outline: none;
   background-color:    white;
   border: 1px solid rgba(128, 128, 128, 0.37);
   padding-left: 30px;
}

.submit_icon {
    margin-left: 15px;
}

.submit_icon:hover {
    cursor: pointer;
}